pkgbase = termius
	pkgdesc = Termius is described as 'is more than a mere SSH client – it’s a complete command-line solution that’s redefining remote access for sysadmins and network engineers.
	pkgver = 8.10.4
	pkgrel = 1
	url = https://www.termius.com/
	arch = x86_64
	license = custom
	makedepends = tar
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libteam
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd
	depends = wayland
	depends = zlib
	optdepends = xdg-utils: Open files
	options = !strip
	source = Termius-8.10.4.deb::https://autoupdate.termius.com/linux/Termius.deb
	sha512sums = SKIP

pkgname = termius
