pkgbase = ventoy
	pkgdesc = A new universal bootable USB solution
	pkgver = 1.0.97
	pkgrel = 1
	url = http://www.ventoy.net
	install = ventoy.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = bash
	depends = util-linux
	depends = xz
	depends = dosfstools
	depends = qt5-base
	optdepends = gtk3: GTK3 GUI
	optdepends = polkit: Launch GUI from application menu
	source = ventoy-1.0.97.tar.gz::https://github.com/ventoy/Ventoy/releases/download/v1.0.97/ventoy-1.0.97-linux.tar.gz
	source = ventoy
	source = ventoy-2-disk
	source = ventoy-web
	source = ventoy-plugson
	source = ventoy-persistent
	source = ventoy-extend-persistent
	source = ventoy.desktop
	source = sanitize.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ventoy
