[Desktop Entry]
Type=Application
Version=1.0
Name=Ventoy
GenericName=Multiboot Image Writer
Comment=Ventoy2Disk QT GUI wrapper for Ventoy program
Icon=ventoy
Exec=/usr/bin/ventoy
Path=/opt/Ventoy/
Terminal=false
Hidden=false
Categories=Utility;
Keywords=ISO; IMG; USB; Writer; Bootable; External; Flash; Drive; Operating System; Windows; Linux; Mac; BSD; Solution; All in one; Persistend Storage;
