pkgbase = bitwarden-cli
	pkgdesc = Open source password management solution for individuals, teams, and business organizations - The CLI only variant
	pkgver = 2024.3.1
	pkgrel = 1
	url = https://github.com/bitwarden/cli
	arch = x86_64
	license = GPL3
	makedepends = unzip
	depends = gcc-libs
	options = !strip
	source = bitwarden-cli-2024.3.1.zip::https://github.com/bitwarden/clients/releases/download/cli-v2024.3.1/bw-linux-2024.3.1.zip
	sha512sums = SKIP

pkgname = bitwarden-cli
