pkgbase = discord
	pkgdesc = All-in-one voice and text chat for gamers.
	pkgver = 0.0.49
	pkgrel = 1
	url = https://discord.com/
	install = discord.install
	arch = x86_64
	license = custom
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	optdepends = pulseaudio: PulseAudio is a featureful, general-purpose sound server
	optdepends = pulseaudio-qt: PulseAudio QT library for volume controle in QT environment.
	optdepends = xdg-utils: Open files
	options = !strip
	source = Discord-0.0.49.tar.gz::https://dl.discordapp.net/apps/linux/0.0.49/discord-0.0.49.tar.gz
	source = Discord--License.pdf
	source = Discord--OSS-License.pdf
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = discord
