pkgbase = brave
	pkgdesc = Web browser that blocks ads and trackers by default (binary release)
	pkgver = 1.64.122
	pkgrel = 1
	url = https://brave.com
	arch = x86_64
	license = MPL2
	license = BSD
	license = custom:chromium
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = ttf-freefont
	depends = ttf-liberation
	optdepends = cups: Printer support
	optdepends = sane: Scanner support
	optdepends = libnotify: Native notification support
	options = !strip
	source = brave-browser-1.64.122-linux-amd64.zip::https://github.com/brave/brave-browser/releases/download/v1.64.122/brave-browser-1.64.122-linux-amd64.zip
	source = brave.desktop
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = brave
