pkgbase = opera
	pkgdesc = A browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier
	pkgver = 109.0.5097.45
	pkgrel = 1
	url = https://www.opera.com/
	install = opera.install
	arch = x86_64
	license = custom
	makedepends = imagemagick
	depends = qt5-base
	depends = qt6-base
	depends = gtk3
	depends = libcups
	depends = nss
	depends = alsa-lib
	depends = libxtst
	depends = libdrm
	depends = libnotify
	depends = libxss
	depends = mesa
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = hicolor-icon-theme
	optdepends = pipewire
	optdepends = kdialog
	optdepends = kwallet
	optdepends = ttf-liberation
	optdepends = xdg-utils
	options = !strip
	options = !emptydirs
	source = opera-stable_109.0.5097.45_amd64.rpm::https://download3.operacdn.com/ftp/pub/opera/desktop/109.0.5097.45/linux/opera-stable_109.0.5097.45_amd64.rpm
	sha256sums = SKIP

pkgname = opera
