pkgbase = microsoft-edge
	pkgdesc = A browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier
	pkgver = 123.0.2420.97
	pkgrel = 1
	url = https://www.microsoft.com/en-us/edge
	install = microsoft-edge.install
	arch = x86_64
	license = custom
	makedepends = imagemagick
	depends = gtk3
	depends = libcups
	depends = nss
	depends = alsa-lib
	depends = libxtst
	depends = libdrm
	depends = mesa
	optdepends = pipewire
	optdepends = kdialog
	optdepends = kwallet
	optdepends = ttf-liberation
	optdepends = xdg-utils
	options = !strip
	options = !zipman
	source = microsoft-edge-stable-123.0.2420.97-1.x86_64.rpm::https://packages.microsoft.com/yumrepos/edge/Packages/m/microsoft-edge-stable-123.0.2420.97-1.x86_64.rpm
	source = Microsoft-Standard-Application-License-Terms--Standalone-(free)-Use-Terms.pdf::https://github.com/KaOS-Community-Packages/microsoft-edge-stable/raw/main/Microsoft-Standard-Application-License-Terms--Standalone-(free)-Use-Terms.pdf
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = microsoft-edge
