pkgbase = balena-etcher
	pkgdesc = Flash OS images to SD cards & USB drives, safely and easily
	pkgver = 1.18.11
	pkgrel = 1
	url = https://balena.io/etcher
	install = balena-etcher.install
	arch = x86_64
	license = Apache
	makedepends = tar
	depends = gtk3
	depends = libxtst
	depends = libxss
	depends = nss
	depends = alsa-lib
	depends = glib2
	depends = polkit
	depends = libusb
	depends = kde-gtk-config
	optdepends = libnotify: For system tray notifications
	options = !strip
	source = balena-etcher-1.18.11.rpm::https://github.com/balena-io/etcher/releases/download/v1.18.11/balena-etcher-1.18.11.x86_64.rpm
	sha256sums = SKIP

pkgname = balena-etcher
